<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../public/libs/bootstrap/css/bootstrap.css">
    <title>组合模式</title>

    <style>
        .row div{
            background: green;
            color: #fff;
            height: 100px;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
<!--

-->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">第1行第1列</div>
        <div class="col-lg-3 col-md-4 col-sm-6">第1行第2列</div>
        <div class="col-lg-3 col-md-4 col-sm-6">第1行第3列</div>
        <div class="col-lg-3 col-md-4 col-sm-6">第1行第4列</div>
    </div>
    <div class="row">
        <div class="col-lg-3">第1行第1列</div>
    </div>
</div>

<script src="../../public/jquery-2.1.0.js"></script>
<script src="../../public/libs/bootstrap/js/bootstrap.js"></script>
</body>
</html>