<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../public/libs/bootstrap/css/bootstrap.css">
    <title>按钮</title>
</head>


<body>
<div class="container">
    <!--按钮背景色-->
    <div class="row">
        <input type="button" value="btn" class="btn">
        <button type="button" value="按钮" class="btn">btn</button>
        <button type="button" value="按钮" class="btn-default">btn-default</button>



        <button type="button" value="按钮" class="btn-warning">btn-warning</button>
        <button type="button" value="按钮" class="btn-danger">btn-danger</button>
        <button type="button" value="按钮" class="btn-success">btn-success</button>
        <button type="button" value="按钮" class="btn-info">btn-info</button>
        <button type="button" value="按钮" class="btn-link">btn-link</button>
    </div>

    <!--按钮尺寸-->
    <div class="row" style="margin-top: 20px">
        <button type="button" value="按钮" class="btn-warning btn-xs">btn-warning</button>
        <button type="button" value="按钮" class="btn-danger btn-sm">btn-danger</button>
        <button type="button" value="按钮" class="btn-success btn-md">btn-success</button>
        <button type="button" value="按钮" class="btn-info btn-lg">btn-info</button>
    </div>

    <div class="row" style="margin-top: 20px">
        <!-- btn-block      让按钮的宽度变为100%并且变为块级元素  -->
        <button type="button" value="按钮" class="btn-block">btn-block</button>
        <button type="button" value="按钮" class="btn-primary btn-block active">btn-block</button>
        <!-- 做按钮悬着button和a都可以-->
        <a href="http://www.163.com" class="btn btn-danger active">href</a>
        <a href="http://www.163.com" class="btn btn-danger disabled">href</a>
    </div>


</div>


<script src="../../../public/jquery-2.1.0.js"></script>
<script src="../../../public/libs/bootstrap/js/bootstrap.js"></script>
</body>
</html>