<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <!--针对IE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--针对移动端 , 页面宽度为设备宽度-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../public/libs/bootstrap/css/bootstrap.css">
    <title>栅格系统</title>
</head>
<body>
    <!--
        自适应宽度100%：container-fluid
        固定宽度(适应响应式)：container   根据设备的宽度自动调整
    -->
    <div class="container-fluid">
        <div style="background-color: #00B7FF">
            捷库动力
        </div>
    </div>

    <div class="container">
        <div style="background: #5bb75b">
            捷库动力
        </div>
    </div>

    <script src="../../../public/jquery-2.1.0.js"></script>
    <script src="../../../public/libs/bootstrap/js/bootstrap.js"></script>
</body>
</html>