<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../public/libs/bootstrap/css/bootstrap.css">
    <title>特殊标签以及样式</title>

</head>
<body>

<div class="container">

    <h1>拜仁慕尼黑</h1>
    <h2>多特蒙德</h2>
    <h3>勒沃库森</h3>
    <h4>莱比锡红牛</h4>
    <p>http://www.163.com</p>

    <p><kbd>ctrl+n</kbd></p>

    <code>hello world</code>

    <!-- pre html5标签 可以用于放代码，有插件-->

    <pre>巴萨罗那</pre>

    <pre> &lt;p&gt;大家好，又到了一天一度的肆评青年时间，又逢周一，大家状态如何？
　　什么？不在状态？看肆评青年，随时脉动回来！（广告费结一下）&lt;/p&gt; </pre>


</div>

<script src="../../../public/jquery-2.1.0.js"></script>
<script src="../../../public/libs/bootstrap/js/bootstrap.js"></script>
</body>
</html>