<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../public/libs/bootstrap/css/bootstrap.css">
    <title>字体图标</title>
</head>

<body>

<!--
    http://v3.bootcss.com/components/
    有免费的图标
-->


<div class="container">

    <!--可以通过样式 控制大小和颜色-->
    <div class="row">
        <span class="glyphicon glyphicon-star" style="font-size:50px; color:red"></span>
    </div>
    <button class="btn-danger">
        <span class="glyphicon glyphicon-headphones" style="color:black">按钮</span>
    </button>
</div>


<script src="../../../public/jquery-2.1.0.js"></script>
<script src="../../../public/libs/bootstrap/js/bootstrap.js"></script>
</body>

</html>